.highlightedText {
  display: inline-block;
  background-color: var(--light-purple, #eceaff);
  font-family: monospace;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 4px;
  line-height: normal;
}
