.iconButton {
  display: flex;
  align-items: center;
  background-color: var(--bg-base, #ffffff);
  border: 1px solid var(--border-color, #ededed);
  border-radius: 8px;
  padding: 7px 16px;
  font-size: 14px;
  color: var(--text-highlight, #2b2b2b);
  outline: none;
  transition: background-color 300ms ease-in-out;
  height: 32px;
  &.active {
    color: var(--base-color, #6c5ce7);
    border-color: var(--base-color, #6c5ce7);
  }
  &.iconOnly {
    padding: 6px 8px;
  }
  &:hover {
    background-color: var(--bg-dent, #f6f6f6);
  }
  &:active {
    background-color: var(--border-color, #ededed);
  }
  &:disabled {
    color: var(--separator-color, #babec9);
    border-color: var(--separator-color, #babec9);
    cursor: not-allowed;
    &:hover {
      background-color: var(--bg-base, #ffffff);
    }
    .icon {
      color: var(--separator-color, #babec9);
    }
  }
}

.icon {
  font-size: 16px;
  color: var(--text-muted, #6c707c);
  &.active {
    color: var(--base-color, #6c5ce7);
  }
}

.margin {
  margin-right: 8px;
}
