@import '~@watheia/base-ui.theme.colors/colors.module.scss';

// extended primary palette (WIP)
// name 	color	lightness
$g110: #01282c; // 19.6%
$g100: #013135; // 25%
$g90: #023d43; // 31%
$g80: #024950; // 40%
$g70: #025159; // 52%
$g60: #4e858b; // 61$
$g50: #9ab9bd; // 63%
$g40: #c0d4d6;
$g30: #e6eeee;
$g20: #f2f6f7;

.darkTheme {
  color: #{$d10};
  --wa-text-color: #{$d10};
  --wa-text-color-heavy: #{$w20};
  --wa-text-color-light: #{$d30};
  --wa-text-inactive: #{$d40};
  --wa-text-inactive-heavy: #{$d30};

  --wa-border-color: #{$d40};
  --wa-border-color-heavy: #{$d30};
  --wa-border-color-light: #{$d50}; // TBD
  --wa-border-color-lightest: #{$d50};

  // -- accent -- //
  --wa-accent-color: #{$g60};
  --wa-accent-heavy: #{$g50};
  --wa-accent-light: #{$g70};
  --wa-accent-text: #{$g30};
  --wa-accent-text-heavy: #{$g20};
  --wa-text-on-accent: var(--wa-text-color, #{$d10});
  --wa-accent-bg: #{$g100}; // #{$g110}; TBD!
  --wa-accent-bg-heavy: #{$g110}; // #{$p100}; TBD!

  // -- background -- //
  // // higher number = more important, and 'closer' to the user.
  // --wa-bg-01: #{$d70};
  // --wa-bg-03: #{$w20};
  // --wa-bg-05: #{$d10};
  // --wa-bg-07: #{$d15};
  // --wa-bg-09: #{$d20};
  // --wa-bg-11: #{$d30};
  --wa-bg-color: #{$d60}; // default background for interactive elements
  --wa-bg-heavy: #{$d50}; // e.g. when hovering
  --wa-bg-heaviest: #{$d40}; // e.g. when active ('pressed')
  --wa-bg-bedrock: #{$d70}; // i.e. <body/> background
  --wa-navigation: #{$d60}; // i.e. <body/> background
  --wa-bg-overlay: #{$d60}; // e.g. button, input, etc
  --wa-bg-modal: #{$d60}; // e.g. button, input, etc
  --wa-bg-tooltip: #{$d60}; // e.g. button, input, etc
  --wa-bg-tooltip-heavy: #{$d50};
  --wa-bg-dent: #{$d60};

  // -- error -- //
  // might replace with 'error' theme
  --wa-error-color: #{$r30};
  --wa-error-heavy: #{$r20};
  --wa-error-light: #{$r40};
  --wa-error-bg: #{$r70};
  --wa-error-bg-heavy: #{$r60};
}
