.hoverSplitter {
  min-width: 1px;
  min-height: 1px;
  position: relative;
  flex: none;

  background: var(--border-color, #ededed);
}

.highlighter {
  height: 100%;
  width: 100%;

  &,
  &::before,
  &::after {
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }

  &:hover,
  [data-is-dragging="true"] > .hoverSplitter > &,
  &:hover::before,
  &:hover::after,
  [data-is-dragging="true"] > .hoverSplitter > &::before,
  [data-is-dragging="true"] > .hoverSplitter > &::after {
    background: var(--base-color, #6c5ce7);
    // fade in
    transition-delay: 0.18s;
  }

  &::before,
  &::after {
    content: " "; // <- using 'nbsp' space
    display: block;
    position: absolute;

    background: transparent;
  }

  [data-split-layout^="row"] > .hoverSplitter > & {
    &::before,
    &::after {
      width: 200%;
      height: 100%;
    }
    &::before {
      left: -200%;
    }
    &::after {
      right: -200%;
    }
  }

  [data-split-layout^="column"] > .hoverSplitter > & {
    &::before,
    &::after {
      width: 100%;
      height: 200%;
    }
    &::before {
      top: -200%;
    }
    &::after {
      bottom: -200%;
    }
  }
}
