.linkedHeading {
  display: flex;
  align-items: center;
  width: fit-content;
  // TODO - remove hard coded margin - 16px in the design
  margin-bottom: 16px;
  &:hover {
    .anchor {
      opacity: 1;
      visibility: unset;
    }
  }
}

.heading {
  margin-right: 8px;
}

.anchor {
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms, opacity 300ms ease-in-out;
  transform: translateY(4px);
}
