$staticStorageUrl: "https://static.bit.dev";
// or... uncached for dev:
// $staticStorageUrl: 'https://watheia.sfo3.cdn.digitaloceanspaces.com/micro/assets';

:export {
  staticStorageUrl: $staticStorageUrl;
}
