@import "~@watheia/base-ui.layout.breakpoints/_breakpoints.scss";

.fourWayGrid {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto auto 50px) auto auto;

  grid-template-areas:
    "txt1"
    "img1"
    "."
    "txt2"
    "img2"
    "."
    "txt3"
    "img3"
    "."
    "txt4"
    "img4";

  & > :nth-child(1) {
    grid-area: txt1;
  }

  & > :nth-child(2) {
    grid-area: img1;
  }

  & > :nth-child(3) {
    grid-area: txt2;
  }

  & > :nth-child(4) {
    grid-area: img2;
  }

  & > :nth-child(5) {
    grid-area: txt3;
  }

  & > :nth-child(6) {
    grid-area: img3;
  }

  & > :nth-child(7) {
    grid-area: txt4;
  }

  & > :nth-child(8) {
    grid-area: img4;
  }

  @media (min-width: $br-sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr 40px) 1fr;
    grid-template-areas:
      "img1	txt1"
      ".		."
      "img2	txt2"
      ".		."
      "img3	txt3"
      ".		."
      "img4	txt4";
  }

  @media (min-width: $br-l) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 80px auto auto;
    grid-template-areas:
      "img1	img2"
      "txt1	txt2"
      ".		."
      "img3	img4"
      "txt3	txt4";

    align-items: start;
  }
}
